.highlighted-event {
  background-color: #0ea3e833; /* Background color for highlighted events */
  color: purple; /* Text color for highlighted events */
  border-radius: 4px; /* Add rounded corners to the event */
  padding: 4px; /* Add some padding for better readability */
  font-weight: bold; /* Make the text bold for emphasis */
  cursor: pointer; /* Change the cursor to a pointer when hovering over an event */
  transition: background-color 0.3s;
  text-align: center; /* Add a smooth transition effect for background color */
}

/* Style when hovering over the highlighted event */
.highlighted-event:hover {
  background-color: #693C97;

}
.fc-day-today {
  background: #0ea3e833 !important;

}
.fc-toolbar-title{
  color:#35B8DF;
}
.fc-event-title{
color:#35B8DF;
}
.fc-view{
  border-radius: 24px !important;
  border-collapse: separate !important;
}
.fc-col-header-cell-cushion{
  color:white;
}
.fc-daygrid-day-number{
  color:white;
}
#backdrop {

}
#calendar {

}
